body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

h1 {
	font-size: 72px;
	text-align: center;
}

textarea {
	width: 480px;
	height: 200px;
}

